Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    # Add: [*]
    Remove: [modernize-use-trailing-return-type]

Index:
  Background: Build

Completion:
  AllScopes: true

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
